/* Your Awesome Website */

body {
	background: url(../img/arches2.png);
	

}

.tel {
	padding-top: 50px;
}

.tel a{
	color: black;
}

.tel a:hover{
	color: rgb(203, 36, 26);
}

.logo {
	padding: 50px 0 25px 50px;
}

.menu {
	padding-left: 60px;
}

.orbit-bullets li {
	display: none;
}

.orbit-prev,
.orbit-next {
	background: #F2F2F2;
}

.orbit-timer {
	display: none;
}

.menu-text {
	padding: 60px 30px 0 0;
}

#gmap {
	height: 350px;
	padding: 50px 0 50px 0;
}

.info {
	padding: 35px 0 0 25px;
}

.info li {
	list-style: none;
}

.info a{
	color: #000;
}

.info a:hover {
	color: rgb(203, 36, 26);
}

.footer {
	padding-top: 20px;
}
