/* global */

body {
	background: url(../img/arches2.png);
}

li {
	list-style: none;
}

/* nav */

.logo-top {
	background: rgba(0, 0, 0, .25);

}

.logo-top ul {
	padding: 30px 0 30px 0;
}

.logo{
	float: left;
	padding-bottom: 20px;

}

.tel,
.icon {
	float: right;
	padding: 15px 0 25px 0;

}

.icon {
	width: 5%;
}


.tel {
	padding: 20px 0 0 10px;

}

.tel h5 {
	color: white;
}

.logo-top a:hover h5{
	color: black;
}

/* slider */
 

.orbit-prev,
.orbit-next {
	background: #F2F2F2;
}

.orbit-bullets li,
.orbit-timer {
	display: none;
}

.menu-text {
	padding: 100px 50px 0 0;
} 

.menu-text h5 {
	text-align: left;
}

/* footer */
#gmap {
	height: 350px;
	padding: 50px 0 50px 0;
}

.info {
	padding: 35px 0 0 25px;
}

.info a,
.info li, 
.info h3{
	color: #fff;
}

.info a:hover {
	color: #000;
}

.footer {
	background: rgba(0, 0, 0, .25);
}

@media screen and (max-width: 480px) {
	.logo {
		padding-left: 80px;
	}

	.tel,
	.icon {
		display: none;
	}

	.menu-text {
	padding: 20px 0 0 0;
} 
.info {
	padding: 20px 0 0 0;

}
}
